<footer class="ba-footer">
   <div class="row">
      <div class="column large-6 small-12">
         <div class="ba-footer-logo flex-container">
            <img src="{{root}}assets/img/logo.svg" alt="Logo">
            
            <span class="ba-footer-logo--title">Booze Buddy</span>
         </div>
         <!-- /.ba-footer-logo -->
         <ul class="ba-footer-logo--list">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Конфиденциальность</a></li>
            <li><a href="#">Условия </a></li>
         </ul>
      </div>
      <!-- /.column large-6 small-12 -->

      <div class="column large-6 small-12 ba-footer-social">
         <div class="ba-footer-social--icon">
            <a src="#">
               <svg width="24" height="24">
                  <use xlink:href="#icon-instagram" />
               </svg>
            </a>
            <a src="#">
               <svg width="21" height="21">
                  <use xlink:href="#icon-facebook" /> 
               </svg>
            </a>
         </div>
      </div>
      <!-- /.column large-6 small-12 -->
   </div>
   <!-- /.row -->
</footer>
<!-- /.ba-footer -->