<div class="row column">
	<script type="text/temlate" data-tune-tmpl>
	<div class="row align-center">
		<div class="column small-12 medium-10 large-8">

			<a href="#">
				<div class="row">
					<div class="column small-12 medium-4">
						<img src="assets/img/ksyusha.png" alt="Ксюша">
						
					</div>
					<div class="column small-12 medium-8">
					<h4>{{name}}</h4>
					<span class="ba-rating">&#9733 &#9733 &#9733 &#9733</span>
					<ul class="ba-list ba-list--2col">
						<li>Город:{{city}}</li>
						<li>Повод:{{reason}}</li>
						<li>Компания:{{company}}</li>
						<li>Заведение:{{place}}</li>
						<li>Напиток:{{drink}}</li>
					</ul>
						
					</div>
	
					</div>
			</a>
			</div>
		</div>
	</script>
	</div>

<!-- /.row -->