<section class="ba-section-profile">
	<div class="row">
		<div class="column large-4">
			<img src="../assets/img/andrew-card.png" alt="{{name}}">
		</div>
		<div class="column large-7">
			<div class="ba-info">
				<div class="ba-name">{{name}}</div>
				<div class="ba-data">{{date}}</div>
			</div>
			<div class="ba-profile-list-info">
				<ul class="ba-list--2col">
					<li>
						<span class="ba-value">О встрече:</span>
						<span class="ba-answer">{{card.info}}</span>
					</li>
					<li>
						<span class="ba-value">Заведение:</span>
						<span class="ba-answer">{{card.place}}</span>
					</li>
					<li>
						<span class="ba-value">Компания:</span>
						<span class="ba-answer">{{card.company}}</span>
					</li>
					<li>
						<span class="ba-value">Повод:</span>
						<span class="ba-answer">{{card.reason}}</span>
					</li>
					<li>
						<span class="ba-value">Напиток:</span>
						<span class="ba-answer">{{card.drink}}</span>
					</li>
					<li>
						<span class="ba-value">Собрано:</span>
						<span class="ba-answer">{{cards.people}}</span>
					</li>
				</ul>
			</div>
			<button class="ba-button ba-button-follow">Присоединиться</button>
			<h4 class="ba-subtitle">Есть вопросы? Отправьте Андрею сообщение в Telegram или Viber </h4>
			<button class="ba-buttom ba-button-mess">написать сообщение</button>
			
		</div>
		<div class="column large-1">
			<div class="div">Рейтинг</div>
			<div class="ba-rating">{{card.rating}}</div>
		</div>
	</div>
</section>