<section class="ba-section-profile">
	<div class="row">
		<div class="column large-4 small-12">
			<img src="../assets/img/andrew-card.png" alt="{{name}}">
		</div>
		<div class="column large-7 small-12">
			<div class="ba-card-info">
				<span class="ba-person-name">Fylhtq{{card.name}}</span>
				<span class="ba-data">19/01/2020{{card.date}}</span>
			</div>
			<div class="ba-reason">
				Gjkbnbxtcrfz dtxthbyrf
				{{card.reasom}}
			</div>
			<div class="ba-profile-list-info">
				<ul class="ba-list--2col">
					<li>
						<span class="ba-value">О встрече:</span>
						<span class="ba-answer">djhieruhfehfle fwkefufv ffrev{{card.info}}</span>
					</li>
					<li>
						<span class="ba-value">Заведение:</span>
						<span class="ba-answer"> nfkjehfiurh{{card.place}}</span>
					</li>
					<li>
						<span class="ba-value">Компания:</span>
						<span class="ba-answer">1/3 xtk{{card.company}}</span>
					</li>
					<li>
						<span class="ba-value">Повод:</span>
						<span class="ba-answer">eff fkhef kehnefhd{{card.reason}}</span>
					</li>
					<li>
						<span class="ba-value">Напиток:</span>
						<span class="ba-answer">jejfuf{{card.drink}}</span>
					</li>
					<li>
						<span class="ba-value">Собрано:</span>
						<span class="ba-answer">1.2324 dkdhdj{{cards.people}}</span>
					</li>
				</ul>
				<button class="ba-button ba-button-conect large-offset-2">
					Присоединиться
				</button>
			</div>
		</div>
		<div class="column large-1 small-3 ba-rating-pos show-for-large">
			<div class="ba-rating-title">Рейтинг</div>
			<div class="ba-rating">{{card.rating}}</div>
		</div>
	</div>
</section>